{% extends 'shablon.html' %}
{% block style %}
<style>
    body {
        background-image: url("{{ url_for('static', filename='4.jpg') }}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% endblock %}
{% block background_image %}2.jpg{% endblock %}
{% block title%}
выбор
{% endblock %}
{% block body %}
{% for i in get_flashed_messages() %}
<div class="flash">{{i}}</div>
{% endfor %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <form method="POST" action="/create_article" style="display: flex; align-items: center; justify-content: space-between;">
        <p><a class="btn btn-sm btn-outline-secondary" style="color: white; text-decoration: none; font-size: 20px; margin-right: 20px;" href="/login">вход</a></p>
        <h1 style="color: white; text-decoration: none; font-size: 20px; margin-right: 20px; font-weight: 300;">или</h1>

        <p><a class="btn btn-sm btn-outline-secondary" style="color: white; text-decoration: none; font-size: 20px; margin-left: 20px;" href="/register">регистрация</a></p>
    </form>
</div>


{% endblock %}
